:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.post-feed {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
}

.feed-list {
  flex: 1;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 16px;

  padding-right: 6px;
}