:host{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100dvh;
  align-items: center;
  margin: 0 5%;
}

.loginLabel{
  display: grid;
  grid-template-rows: 0.5fr 1fr;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  display: block;

  &::placeholder {
    color: var(--light-color);
    opacity: 1;
  }
}

img {
  justify-self: center;
  align-self: center;
}
